.buttonGroup {
  display: flex;
  flex-direction: column;
  width: 224px;
  max-width: 80vw;
}

.buttonGroup > :first-child {
  margin-bottom: 12px;
}

.logo {
  width: 224px;
  max-width: 80vw;
}

.description {
  margin-top: 48px;
  margin-bottom: 8px;
  font-size: 16px;
  text-align: left;
  width: 224px;
}
